@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background: #0b0d17;
  padding: 20px 90px;
}
nav .container {
  display: flex;
}
nav .container ul {
  margin-left: auto;
  display: flex;
  margin-top: 8px;
  list-style: none;
}
nav .container ul li {
  margin-right: 10px;
}
nav .container a {
  color: #5b5b5b;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
nav .container ul li a {
  background: #fb7f42;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  color: white;
}
nav .container a span {
  color: #fb7f42;
}
body {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}
.btn {
  background: linear-gradient(to right, #fb984c, #fe482e);
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}
#banner {
  height: 100vh;
}
#banner .container {
  height: 100%;
  display: flex;
  padding-left: 90px;
}
#banner .container .banner-info h1 {
  margin-top: 170px;
  font-size: 50px;
  color: #575757;
  text-transform: capitalize;
}
#banner .container .banner-info h1 span {
  color: #fb984c;
}
#banner .container .banner-info p {
  color: #828282;
  margin: 20px 0 45px;
  line-height: 25px;
}
#banner .container .banner-img {
  height: 100%;
  padding: 20px 0;
}

#about {
  background: url("/img/shapes/7.png") no-repeat;
  height: 80vh;
}
#about .container {
  height: 100%;
  display: flex;
}
#about .container .about-img {
  width: 55%;
}
#about .container .about-img img {
  margin-top: 20px;
}
#about .container .about-info {
  width: 55%;
  padding: 100px 0;
  padding-right: 200px;
}
.section-title {
  color: #707070;
  text-transform: capitalize;
}
.section-desciption {
  margin: 30px 0 90px;
  text-transform: capitalize;
  line-height: 30px;
}

#recipies {
  padding: 50px;
  text-align: center;
}
#recipies .section-desciption {
  margin-bottom: 10px;
}
#recipies .container .recipies {
  display: flex;
}
#recipies .container .recipies .recipie {
  height: 100%;
  border-radius: 20px;
  margin: 20px;
  text-align: left;
  padding: 15px;
  box-shadow: 5px 5px 20px rgb(223, 223, 223);
}
#recipies .container .recipies .recipie img {
  margin-bottom: 20px;
  width: 100%;
}
#recipies .container .recipies .recipie h2 {
  color: #0b0d17;
  margin-bottom: 10px;
}
#recipies .container .recipies .recipie p {
  text-transform: capitalize;
  line-height: 25px;
}
#extra .container {
  box-shadow: 5px 5px 20px rgb(223, 223, 223);
  border-radius: 20px;
  margin: 0 90px;
  padding: 40px 80px;
  margin-bottom: 80px;
}
#extra .container .extras {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
#extra .container .extras .extra {
  padding: 30px;
  text-align: left;
}
#extra .container .extras .extra h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
#extra .container .extras .extra p {
  text-transform: capitalize;
}
footer {
  background: #0b0d17;
  padding: 20px 90px;
  text-align: center;
}
footer .container a {
  color: #5b5b5b;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
  margin-bottom: 30px;
}
footer .container a span {
  color: #fb7f42;
}
footer .container p {
  margin-bottom: 40px;
  color: white;
  text-transform: capitalize;
}
